<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scpw.pojo.DingdanMapper">
    <resultMap id="BaseResultMap" type="cn.scpw.pojo.Dingdan">
        <!--@mbg.generated-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="shenfenzheng" property="shenfenzheng"/>
        <result column="userphone" property="userphone"/>
        <result column="checiId" property="checiid"/>
        <result column="userId" property="userid"/>
        <result column="beizhu" property="beizhu"/>
        <association property="checi" javaType="cn.scpw.pojo.Checi">
            <id property="id" column="id"/>
            <result property="checi" column="checi"/>
            <result property="daoshi" column="daoshi"/>
            <result property="daozhan" column="daozhan"/>
            <result property="fashi" column="fashi"/>
            <result property="fazhan" column="fazhan"/>
            <result property="jiage" column="jiage"/>
        </association>

    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, shenfenzheng, userphone, checiId, userId, beizhu
    </sql>
    <!--  用户通过自己的用户ID去数据库中进行订单查询，查询自己所有的订单和车次信息  -->
    <select id="selectAllMyDingDanByUserId" resultMap="BaseResultMap">
        select d.id,d.name,d.shenfenzheng,d.userphone,d.checiId,d.userId,d.beizhu,
        c.checi,c.daoshi,c.daozhan,c.fashi,c.fazhan,c.jiage
        from dingdan d join checi c  on  d.checiId = c.id where d.userId=#{userId}
    </select>
</mapper>