<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scpw.pojo.DingdanMapper">
    <resultMap id="BaseResultMap" type="cn.scpw.pojo.Dingdan">
        <!--@mbg.generated-->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="shenfenzheng" property="shenfenzheng"/>
        <result column="userphone" property="userphone"/>
        <result column="checiId" property="checiid"/>
        <result column="userId" property="userid"/>
        <result column="beizhu" property="beizhu"/>
        <result column="zhifuzhuangtai" property="zhifuzhuangtai"/>
        <association property="checi" javaType="cn.scpw.pojo.Checi">
            <id property="id" column="id"/>
            <result property="checi" column="checi"/>
            <result property="daoshi" column="daoshi"/>
            <result property="daozhan" column="daozhan"/>
            <result property="fashi" column="fashi"/>
            <result property="fazhan" column="fazhan"/>
            <result property="jiage" column="jiage"/>
            <result property="leixing" column="leixing"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, shenfenzheng, userphone, checiId, userId, beizhu, zhifuzhuangtai
    </sql>
    <!--  用户通过自己的用户ID去数据库中进行订单查询，查询自己所有的订单和车次信息  -->
    <select id="selectAllMyDingDanByUserId" resultMap="BaseResultMap">
        select d.id,d.name,d.shenfenzheng,d.userphone,d.checiId,d.userId,d.beizhu,d.zhifuzhuangtai,
        c.checi,c.daoshi,c.daozhan,c.fashi,c.fazhan,c.jiage,c.leixing
        from dingdan d join checi c  on  d.checiId = c.id where d.userId=#{userId}
    </select>
    <!-- 用户通过车次类型来进行所有订单查询 -->
    <select id="selectAllMyDingDanByCheCiLeiXing" resultMap="BaseResultMap">
        select d.id,d.name,d.shenfenzheng,d.userphone,d.checiId,d.userId,d.beizhu,d.zhifuzhuangtai,
        c.checi,c.daoshi,c.daozhan,c.fashi,c.fazhan,c.jiage,c.leixing
        from dingdan d join checi c  on  d.checiId = c.id where c.leixing=#{param1}  and d.userId=#{param2}
    </select>

    <select id="selectDingDanByUserIdAndPayState" resultMap="BaseResultMap">
        select d.id,d.name,d.shenfenzheng,d.userphone,d.checiId,d.userId,d.beizhu,d.zhifuzhuangtai,
        c.checi,c.daoshi,c.daozhan,c.fashi,c.fazhan,c.jiage,c.leixing
        from dingdan d join checi c  on  d.checiId = c.id where  d.zhifuzhuangtai = #{param2}  and d.userId=#{param1}
    </select>

    <select id="selectDinDanByDinDanId" resultMap="BaseResultMap">
        select id, name, shenfenzheng, userphone, checiId, userId, beizhu, zhifuzhuangtai from dingdan where id=#{DingDanId}
    </select>


    <insert id="insert" parameterType="java.lang.String">
        insert into dingdan(id, name, shenfenzheng, userphone, checiId, userId, beizhu) values
         (#{arg0},#{arg1},#{arg2},#{arg3},#{arg4},#{arg5},#{arg6})
    </insert>

    <update id="updateDingDanPayState">
        update dingdan set zhifuzhuangtai = 1 where id=#{id}
    </update>


</mapper>