<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="lastUsedTestConfiguration">
      <TestConfiguration>
        <option name="driverClass" value="com.mysql.cj.jdbc.Driver" />
        <option name="from" value="history" />
        <option name="intellij" value="false" />
        <option name="order" value="-1" />
        <option name="password" value="tonyma666" />
        <option name="url" value="jdbc:mysql://106.12.108.84:3306/scpw" />
        <option name="userName" value="superroot" />
      </TestConfiguration>
    </option>
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="deleteByPrimayKeyEnabled" value="false" />
        <option name="insertMethodEnabled" value="false" />
        <option name="insertSelectiveMethodEnabled" value="false" />
        <option name="javaMapperPackage" value="cn.scpw.pojo" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="javaModelPackage" value="cn.scpw.pojo" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="sichuanpiaowu" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="sichuanpiaowu">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="cn.scpw.pojo" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="javaModelPacakge" value="cn.scpw.pojo" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="noJdbcType" value="true" />
        <option name="selectByPrimaryKeyEnabled" value="false" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="scpw:checi">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Checi" />
                  <option name="moduleName" value="sichuanpiaowu" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="scpw:dingdan">
              <value>
                <TableGenerateConfig>
                  <option name="deleteByPrimayKeyEnabled" value="false" />
                  <option name="generatedKey" value="" />
                  <option name="insertMethodEnabled" value="false" />
                  <option name="insertSelectiveMethodEnabled" value="false" />
                  <option name="javaModelName" value="Dingdan" />
                  <option name="moduleName" value="sichuanpiaowu" />
                  <option name="selectByPrimaryKeyEnabled" value="false" />
                  <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
                  <option name="updateByPrimaykeyEnabled" value="false" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="updateByPrimaryKeySelectiveEnabled" value="false" />
        <option name="updateByPrimaykeyEnabled" value="false" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/src/main/resources" />
      </ProjectProfile>
    </option>
    <option name="testConfigurations">
      <list>
        <TestConfiguration>
          <option name="driverClass" value="com.mysql.cj.jdbc.Driver" />
          <option name="from" value="history" />
          <option name="intellij" value="false" />
          <option name="order" value="-1" />
          <option name="password" value="tonyma666" />
          <option name="url" value="jdbc:mysql://106.12.108.84:3306/scpw" />
          <option name="userName" value="superroot" />
        </TestConfiguration>
      </list>
    </option>
  </component>
</project>